:root {
     --primary-bg: #FFFFFF;
    --secondary-bg: #F0F2F5; 
    --accent-color: #4682B4; 
    --text-color: #333333; 
    --text-secondary: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545; 
    --shadow-color: rgba(0, 0, 0, 0.1); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}